.card{
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.image{
    height: 100%;
    padding: 0px;
    background: #F9F9F9;
    border-radius: 12px;
    align-self: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 0 16px 0
}

.label{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.description{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #575757;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    padding: 6px 12px 6px 12px;
}
