.header{
    display: flex;
    align-items: center;
    height: 130px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 33%);   
    width: 100%;
}

h1{
    margin: 0px;
    color: #151515;
}

.brand{
    text-align: left;
}

.brand :hover{
    cursor: pointer;
}

.possibilities{
    text-align: right;
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    background: #F9F9F9;
}