.header{
    display: flex;
    align-items: center;
    height: 130px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 33%);   
    width: 100%;
}

h1{
    margin: 0px;
    color: #151515;
}

.brand{
    text-align: left;
}

.brand :hover{
    cursor: pointer;
}

.dropDownList{
    width: 100%;
}

.dropDownList span{
    font-weight: 700;
}

.search{
    background-color: #F9F9F9;;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    display: flex;
    padding: 11px 16px 11px 16px;
}

.line{
    width: 20px;
    height: 0px;
    border: 1px solid #D1D1D1;
    transform: rotate(90deg);
    margin-top: 10px
}

.searchLine{
    width: 100%;
}

.possibilities{
    text-align: right;
}
